# main_template.jinja2
from fastapi import FastAPI
{% for endpoint in endpoints %}
from app.api import {{ endpoint }}
{% endfor %}

app = FastAPI()

{% for endpoint in endpoints %}
app.include_router({{ endpoint }}.router)
{% endfor %}

{% for table in tables %}
# Database models for {{ table }}
{{ table }}.Base.metadata.create_all(bind=engine)
{% endfor %}
